body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
}

.showcasePadding .MuiContainer-root {
  padding-left: 32px;
  padding-right: 32px;
}

#ritiroPagination {
  .MuiTablePagination-toolbar {
    padding: 0;

    .MuiTablePagination-actions,
    .MuiTablePagination-selectLabel,
    .MuiTablePagination-displayedRows {
      display: none;
    }

    .MuiTablePagination-select {
      padding-left: 0;
    }
  }
}

#iconLeggi {
  width: 5rem;
}

.MuiPopperUnstyled-root .MuiAutocomplete-paper {
  box-shadow: 5px 5px 20px 0px #e1e0e0;
}

#ritiroPagination_page_mobile ul {
  justify-content: flex-end;
}

.MuiOutlinedInput-root:has(#textFilter) {
  padding-right: 0;
}

/* START: ONETRUST STYLES */
.otnotice .otnotice-content {
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
  padding-top: 64px;
}

.otnotice .otnotice-content .otnotice-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-height: none;
  margin-left: 0;
  padding-top: 0;
}

.otnotice .otnotice-content .otnotice-menu-mobile {
  background-color: transparent;
  border: none;
  box-shadow: rgb(0 43 85 / 10%) 0px 2px 4px -1px, rgb(0 43 85 / 5%) 0px 4px 5px;
}

.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-mobile-container {
  background-color: transparent;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section:hover,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile:hover {
  background-color: rgba(23, 50, 77, 0.08);
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section a,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-selected,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile
  a {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #17324d !important;
}

.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__expand::after,
.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__collapse::after {
  color: #17324d !important;
}

.otnotice .otnotice-content .otnotice-section:first-child h2 {
  font-size: 2.375rem;
  color: #17324d;
  line-height: 1;
}

.otnotice .otnotice-content .otnotice-section:not(:first-child) h2 {
  font-size: 1.75rem;
  color: #17324d;
  line-height: 1;
}

/* END: ONETRUST STYLES */

/* INIZIO PAGINA DOCUMENTI - api\data\it\PD.tsx */
.documentiCustomCardContent .MuiTypography-body2 {
  margin-top: 0.6em;
}

.documentiCustomCardContent .MuiButtonBase-root {
  padding: 0;
}

.documentiCustomCardContent .MuiButtonBase-root:hover {
  background-color: transparent;
}

.documentiCustomCard .MuiPaper-root {
  border-radius: 16px;
}

.documentiCustomCard .MuiCardContent-root,
.MuiCardActions-root {
  padding: 32px;
}

@media screen and (min-width: 900px) {
  .documentiCustomCard .MuiPaper-root {
    margin-bottom: 8px;
    margin-right: 8px;
  }
}
/* FINE PAGINA DOCUMENTI - PD.tsx */

/* INIZIO PAGINA DOCUMENTI - pages\pubbliche-amministrazioni\documenti\index.tsx */
.documenti .cardsContainerDark .MuiBox-root {
  background-color: #0b3ee3;
}

.documenti .MuiPaper-root {
  box-shadow: 0px 8px 38px 7px #002b551a;
}
/* FINE PAGINA DOCUMENTI - pages\pubbliche-amministrazioni\documenti\index.tsx */

/* INIZIO PAGINA ENTI - pages\pubbliche-amministrazioni\index.tsx */
.lightWalkthrough .MuiBox-root {
  background-color: #ffffff;
}
/* FINE PAGINA ENTI - pages\pubbliche-amministrazioni\index.tsx */

/* INIZIO PAGINA CITTADINI - pages\cittadini\index.tsx */
.dark {
  background-color: #0b3ee3;
}
/* FINE PAGINA CITTADINI - pages\cittadini\index.tsx */

/* INIZIO PAGINA CITTADINI - api\data\it\PF.tsx */
.button-cittadini {
  height: 3em;
}

@media (max-width: 420px) {
  .stack-responsive {
    flex-direction: column;
    align-items: baseline;
  }
  .stack-responsive a {
    margin-left: 0px !important;
    margin-bottom: 1em !important;
  }
}
/* FINE PAGINA CITTADINI - api\data\it\PF.tsx */

/* INIZIO PAGINA IMPRESE - pages\imprese\index.tsx */
.light .MuiBox-root {
  background-color: #ffffff;
}
/* FINE PAGINA IMPRESE - pages\imprese\index.tsx */

/* INIZIO PAGINA FAQ - pages\faq\index.tsx */
#faqHero .MuiContainer-root .MuiTypography-root {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.faqItems .MuiAccordionSummary-content {
  margin: 21px 0px;
}
/* FINE PAGINA FAQ - pages\faq\index.tsx */

/* LEAFLET custom styles */
.leaflet-popup {
  padding-bottom: 41px;
}

/* Change cluster background color */
.marker-cluster-small {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.marker-cluster-small div {
  background-color: #0d3ee3 !important;
  color: #fff !important;
}
