body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
}

.showcasePadding .MuiContainer-root {
  padding-left: 32px;
  padding-right: 32px;
}

#ritiroPagination {
  .MuiTablePagination-toolbar {
    padding: 0;

    .MuiTablePagination-actions,
    .MuiTablePagination-selectLabel,
    .MuiTablePagination-displayedRows {
      display: none;
    }

    .MuiTablePagination-select {
      padding-left: 0;
    }
  }
}

.MuiPopperUnstyled-root .MuiAutocomplete-paper {
  box-shadow: 5px 5px 20px 0px #e1e0e0;
}

#ritiroPagination_page_mobile ul {
  justify-content: flex-end;
}

.MuiOutlinedInput-root:has(#textFilter) {
  padding-right: 0;
}

/* LEAFLET custom styles */
.leaflet-popup {
  padding-bottom: 41px;
}

/* Change cluster background color */
.marker-cluster-small {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.marker-cluster-small div {
  background-color: #0d3ee3 !important;
  color: #fff !important;
}
