body {
  margin: 0;
  padding: 0;
}

/* START: ONETRUST STYLES */
.otnotice .otnotice-content {
  font-family: "Titillium Web",sans-serif;
  color: #17324D;
  padding-top: 64px;
}

.otnotice .otnotice-content .otnotice-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-height: none;
  margin-left: 0;
  padding-top: 0;
}

.otnotice .otnotice-content .otnotice-menu-mobile {
  background-color: transparent;
  border: none;
  box-shadow: rgb(0 43 85 / 10%) 0px 2px 4px -1px, rgb(0 43 85 / 5%) 0px 4px 5px;
}

.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-mobile-container {
  background-color: transparent;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section:hover,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-section-mobile:hover {
  background-color: rgba(23, 50, 77, 0.08);
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section a,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-selected,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-section-mobile a {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #17324D !important;
}

.otnotice-menu-mobile .otnotice-menu-selected-container .otnotice-menu-display__expand::after,
.otnotice-menu-mobile .otnotice-menu-selected-container .otnotice-menu-display__collapse::after {
  color: #17324D !important;
}

.otnotice .otnotice-content .otnotice-section:first-child h2 {
  font-size: 2.375rem;
  color: #17324D;
}

.otnotice .otnotice-content .otnotice-section:not(:first-child) h2 {
  font-size: 1.75rem;
  color: #17324D;
}
/* END: ONETRUST STYLES */


.documenti .cardsContainerDark .MuiBox-root {
  background-color: #0B3EE3;
}

.documenti .MuiPaper-root {
  box-shadow: 0px 8px 38px 7px #002B551A;
}

.entiMenuItems [class$="MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper"] {
  margin-left: -2em;
  margin-top: 1em;
}

.documentiCustomCardContent .MuiTypography-body2 {
  margin-top: 0.6em;
}

.documentiCustomCardContent .MuiButtonBase-root {
  padding: 0;
}

.documentiCustomCardContent .MuiButtonBase-root:hover {
  background-color: transparent;
}

.documentiCustomCard .MuiPaper-root {
  border-radius: 16px;
} 

@media screen and (min-width:900px) {
  .documentiCustomCard .MuiPaper-root {
    margin-bottom: 8px;
    margin-right: 8px;
  } 
}

.lightWalkthrough .MuiBox-root {
  background-color: #FFFFFF;
}

.darkInfoblockEnti .MuiBox-root {
  background-color: #0B3EE3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkInfoblockEnti .MuiBox-root a {
  background-color: #FFFFFF;
  color: #0066CC;
}

.darkInfoblockEnti .MuiBox-root img {
  visibility: hidden;
}

.darkInfoblockEnti [class$="MuiStack-root"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customInfoblockImprese {
  border-top: 1px solid #E3E7EB;
}

.customInfoblockImprese .MuiBox-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customInfoblockImprese .MuiBox-root img {
  visibility: hidden;
}

.customInfoblockImprese [class$="MuiStack-root"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #0B3EE3;
}

.light .MuiBox-root {
  background-color: #FFFFFF;
}

#faqHero .MuiContainer-root .MuiTypography-root {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* inizio colore e font delle tabs*/
[class$="MuiButtonBase-root-MuiTab-root"] {
  color: #0073E6;
}

.MuiTabs-flexContainer .MuiTypography-root {
  color: #0073E6;
  font-weight: 600;
  font-size: 1rem;
}

.MuiTabs-flexContainer .MuiSvgIcon-root  {
  color: #0073E6;
}
/* fine colore e font delle tabs*/

.button-cittadini {
  height: 4em;
  width: 100%; 
}

@media (max-width: 640px) {
  .tab-enti{
    margin-left: 10px!important;
  }
}

@media (max-width: 500px) {
  .button-cittadini {
    height: 3.5em;
    width: 100%; 
  }
}

@media (max-width: 420px) {
  .stack-responsive {
    flex-direction: column;
    align-items: baseline;
  }
  .stack-responsive a {
    margin-left: 0px!important;
    margin-bottom: 1em!important;
  }
}
