body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
}

/* START: ONETRUST STYLES */
.otnotice .otnotice-content {
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
  padding-top: 64px;
}

.otnotice .otnotice-content .otnotice-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-height: none;
  margin-left: 0;
  padding-top: 0;
}

.otnotice .otnotice-content .otnotice-menu-mobile {
  background-color: transparent;
  border: none;
  box-shadow: rgb(0 43 85 / 10%) 0px 2px 4px -1px, rgb(0 43 85 / 5%) 0px 4px 5px;
}

.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-mobile-container {
  background-color: transparent;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section:hover,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile:hover {
  background-color: rgba(23, 50, 77, 0.08);
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section a,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-selected,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile
  a {
  font-size: 16px; 
  font-weight: 600; 
  line-height: 1.5;
  color: #17324d !important;
}

.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__expand::after,
.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__collapse::after {
  color: #17324d !important;
}

.otnotice .otnotice-content .otnotice-section:first-child h2 {
  font-size: 2.375rem;
  color: #17324d;
  line-height: 1;
}

.otnotice .otnotice-content .otnotice-section:not(:first-child) h2 {
  font-size: 1.75rem;
  color: #17324d;
  line-height: 1;
}
/* END: ONETRUST STYLES */

.documenti .cardsContainerDark .MuiBox-root {
  background-color: #0b3ee3;
}

.documenti .MuiPaper-root {
  box-shadow: 0px 8px 38px 7px #002b551a;
}

.documentiCustomCardContent .MuiTypography-body2 {
  margin-top: 0.6em;
}

.documentiCustomCardContent .MuiButtonBase-root {
  padding: 0;
}

.documentiCustomCardContent .MuiButtonBase-root:hover {
  background-color: transparent;
}

.documentiCustomCard .MuiPaper-root {
  border-radius: 16px;
}

.documentiCustomCard .MuiCardContent-root,
.MuiCardActions-root {
  padding: 32px;
}

.lightWalkthrough .MuiBox-root {
  background-color: #ffffff;
}

.dark {
  background-color: #0b3ee3;
}

.light .MuiBox-root {
  background-color: #ffffff;
}

#faqHero .MuiContainer-root .MuiTypography-root {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sendNavbar .MuiTabs-flexContainer .MuiTypography-root {
  font-weight: 600;
  font-size: 1rem;
}

.button-cittadini {
  height: 3em;
}

.showcasePadding .MuiContainer-root {
  padding-left: 32px;
  padding-right: 32px;
}

.faqItems .MuiAccordionSummary-content {
  margin: 21px 0px;
}

#ritiroPagination {
  .MuiTablePagination-toolbar {
    padding: 0;

    .MuiTablePagination-actions,
    .MuiTablePagination-selectLabel,
    .MuiTablePagination-displayedRows {
      display: none;
    }

    .MuiTablePagination-select {
      padding-left: 0;
    }
  }
}

#iconLeggi {
  width: 5rem;
}

.MuiPopperUnstyled-root .MuiAutocomplete-paper {
  box-shadow: 5px 5px 20px 0px #e1e0e0;
}
#ritiroPagination_page_mobile ul {
  justify-content: flex-end;
}

.menuItem {
  margin: 4px 0; 
  padding: 4px; 
  font-size: 16px; 
  font-weight: 600; 
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
}
.menuItemIcon {
  margin-left: auto;
  color: inherit;
}

.menuItemIcon.iconActive {
  color: var(--primary-color); 
}

.firstMenuItem {
  margin-top: 40px; 
}

.subMenuItem {
  margin: 4px 0;
  padding-left: 24px; 
}

.MuiTypography-body1 {
  font-size: 16px !important; 
  font-weight: 600 !important;
}

.menu-open ~ .MuiBackdrop-root {
  background-color: white !important;
}

.custom-backdrop {
  background-color: white !important;
  opacity: 1 !important;
}

.MuiOutlinedInput-root:has(#textFilter) {
  padding-right: 0;
}

@media screen and (min-width: 900px) {
  .documentiCustomCard .MuiPaper-root {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  .menu-open {
    left: unset !important;
    right: 0px !important;
    width: 25% !important;
  }
  .custom-backdrop {
    background-color: rgba(23, 50, 77, 0.7) !important;
  }
}

@media screen and (max-width: 900px) {
  .custom-backdrop {
    background-color: white !important;
  }
  .menu-open {
    width: 100% !important;
  }
}

@media (max-width: 420px) {
  .stack-responsive {
    flex-direction: column;
    align-items: baseline;
  }
  .stack-responsive a {
    margin-left: 0px !important;
    margin-bottom: 1em !important;
  }
}

.MuiModal-root .MuiPaper-root {
  left: unset !important;
  right: 0 !important;
}

.custom-backdrop {
  background-color: rgba(23, 50, 77, 0.7) !important;
}

@media screen and (min-width: 900px) {
  .MuiModal-root .MuiPaper-root {
    width: 25% !important;
  }
}

@media screen and (max-width: 900px) {
  .MuiModal-root .MuiPaper-root {
    width: 100% !important;
  }
  .custom-backdrop {
    background-color: white !important;
  }
}

@media screen and (min-width: 900px) {
  .MuiPopover-root .MuiPaper-root {
    transform: scale(1, 1.1) !important;
    top: 40px !important;
  }

  .MuiList-root.MuiMenu-list {
    transform: scale(1, 0.9) !important;
  }
}
