body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
}

/* START: ONETRUST STYLES */
.otnotice .otnotice-content {
  font-family: "Titillium Web", sans-serif;
  color: #17324d;
  padding-top: 64px;
}

.otnotice .otnotice-content .otnotice-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-height: none;
  margin-left: 0;
  padding-top: 0;
}

.otnotice .otnotice-content .otnotice-menu-mobile {
  background-color: transparent;
  border: none;
  box-shadow: rgb(0 43 85 / 10%) 0px 2px 4px -1px, rgb(0 43 85 / 5%) 0px 4px 5px;
}

.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-mobile-container {
  background-color: transparent;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section:hover,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile:hover {
  background-color: rgba(23, 50, 77, 0.08);
}

.otnotice .otnotice-content .otnotice-menu > .otnotice-menu-section a,
.otnotice .otnotice-content .otnotice-menu-mobile .otnotice-menu-selected,
.otnotice
  .otnotice-content
  .otnotice-menu-mobile
  .otnotice-menu-section-mobile
  a {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #17324d !important;
}

.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__expand::after,
.otnotice-menu-mobile
  .otnotice-menu-selected-container
  .otnotice-menu-display__collapse::after {
  color: #17324d !important;
}

.otnotice .otnotice-content .otnotice-section:first-child h2 {
  font-size: 2.375rem;
  color: #17324d;
  line-height: inherit;
}

.otnotice .otnotice-content .otnotice-section:not(:first-child) h2 {
  font-size: 1.75rem;
  color: #17324d;
  line-height: inherit;
}
/* END: ONETRUST STYLES */

.documenti .cardsContainerDark .MuiBox-root {
  background-color: #0b3ee3;
}

.documenti .MuiPaper-root {
  box-shadow: 0px 8px 38px 7px #002b551a;
}

/* .entiMenuItems [class$="MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper"] {
  margin-left: -2em;
  margin-top: 1em;
} */

.documentiCustomCardContent .MuiTypography-body2 {
  margin-top: 0.6em;
}

.documentiCustomCardContent .MuiButtonBase-root {
  padding: 0;
}

.documentiCustomCardContent .MuiButtonBase-root:hover {
  background-color: transparent;
}

.documentiCustomCard .MuiPaper-root {
  border-radius: 16px;
}

.documentiCustomCard .MuiCardContent-root,
.MuiCardActions-root {
  padding: 32px;
}

.lightWalkthrough .MuiBox-root {
  background-color: #ffffff;
}

.dark {
  background-color: #0b3ee3;
}

.light .MuiBox-root {
  background-color: #ffffff;
}

#faqHero .MuiContainer-root .MuiTypography-root {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.customFaqHero
  [class$="MuiStack-root"]
  > [class$="MuiStack-root"]:nth-of-type(2) {
  display: none;
}

.sendNavbar .MuiTabs-flexContainer .MuiTypography-root {
  font-weight: 600;
  font-size: 1rem;
}

.sendNavbar .MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: #5c6f82 !important;
}

.button-cittadini {
  height: 3em;
}

.showcasePadding .MuiContainer-root {
  padding-left: 32px;
  padding-right: 32px;
}

.faqItems .MuiAccordionSummary-content {
  margin: 21px 0px;
}

#ritiroPagination {
  .MuiTablePagination-toolbar {
    padding: 0;

    .MuiTablePagination-actions,
    .MuiTablePagination-selectLabel,
    .MuiTablePagination-displayedRows {
      display: none;
    }

    .MuiTablePagination-select {
      padding-left: 0;
    }
  }
}

#iconLeggi {
  width: 5rem;
}

.MuiPopperUnstyled-root .MuiAutocomplete-paper {
  box-shadow: 5px 5px 20px 0px #e1e0e0;
}
#ritiroPagination_page_mobile ul {
  justify-content: flex-end;
}
.MuiOutlinedInput-root:has(#textFilter) {
  padding-right: 0;
}

@media screen and (min-width: 900px) {
  .documentiCustomCard .MuiPaper-root {
    margin-bottom: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 640px) {
  .tab-enti {
    margin-left: 10px !important;
  }
}

@media (max-width: 420px) {
  .stack-responsive {
    flex-direction: column;
    align-items: baseline;
  }
  .stack-responsive a {
    margin-left: 0px !important;
    margin-bottom: 1em !important;
  }
}
